.hanzi{
  padding: 0em;
  font-size: 2em;
  line-height: 1em;
  vertical-align: middle;
  text-align: center;
}
.zhuyin{
    padding: 0em;
  line-height: 1em;
  vertical-align: middle;
  font-size: 0.6em;
}
.pinyin{
    font-family: Times, "Times New Roman", Georgia, serif;
    padding: 0em;
  text-align: center;
  line-height: 1em;
  vertical-align: top;
  font-size: 0.8em;
}
