@font-face{
    font-family: chinese;
    src: url(FZKaiT-Extended_0.ttf);
}
.tone-mark{
    font-family: chinese;
    text-align: center;
    vertical-align: center;
}
.hanzi{
    font-family: chinese;
    font-size: 2em;
    line-height: 1em;
    vertical-align: middle;
    text-align: center;
}
.zhuyin{
    font-family: chinese;
    padding: 0em;
    line-height: 1em;
    vertical-align: middle;
    font-size: 0.6em;
}
.pinyin{
    font-family: Times, "Times New Roman", Georgia, serif;
    text-align: center;
    line-height: 1em;
    vertical-align: center;
    font-size: 1em;
}
